ansicolor==0.2.6
Click==7.0
docopt==0.6.2
Flask==1.1.1
greenlet==0.4.15
grip==4.5.2
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.10.3
Markdown==3.1.1
MarkupSafe==1.1.1
neovim==0.3.1
neovim-remote==2.4.0
parso==0.5.2
path-and-address==2.0.1
psutil==5.6.7
Pygments==2.5.2
pynvim==0.4.0
PyYAML==5.2
vim-vint==0.3.21
virtualenv==16.7.9
Werkzeug==0.16.0
